.navbar {
  max-width: 1200px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0px 10px;

  .nav-title {
    font-family: "Gatile";
  }

  .nav-container {
    display: flex;
    align-items: center;
    gap: 70px;
  }

  .nav-items {
    display: flex;
    gap: 20px;
    a {
      all: unset;
      cursor: pointer;
      font-weight: 500;
    }
  }

  .nav-message {
    display: flex;
    align-items: center;
    background-color: #9d968b;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
  }

  .nav-connected {
    display: flex;
    align-items: center;
    background-color: #d39738;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    p {
      font-weight: 600;
    }
  }
}

hr {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #9d968b;
  margin: 40px;
}
