.login-img {
  width: 300px;
  border-radius: 20px;
}

.title {
  font-family: "Gatile";
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  color: #fff3e090;
}

.separation {
  display: flex;
  flex-direction: row;
  align-items: center;

  &-hr {
    min-width: 80px;
  }
}
